.App {
  display: flex;
  width: 100vw;
  color: #000;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1rem;
}

:root {
  --btn-bg-color: rgb(60, 122, 209);
}

.navbar {
  position: fixed;
  height: 10vh;
  background: #fff;
  width: 100vw;
  box-shadow: 0 0 20px 2px rgb(223, 223, 223);
  padding: 10px;
  box-sizing: border-box;
}

.layout-main {
  padding-top: 10vh;
  width: 100vw;
  display: flex;
}

.layout-base {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 2px rgb(223, 223, 223);
}

body::-webkit-scrollbar {
  display: none;
}

e-button {
  background: var(--btn-bg-color);
  padding: 5px 10px;
}